{% extends "base.html" %}
{% load static %}
{% block title %}
	{{ flatpage.title }}
{% endblock %}

{% block libs %}
	{{ block.super }}
{% endblock %}

{% block menu %}
	{{ block.super }}
{% endblock %}

{% block slider %}
	{{ block.super }}
{% endblock %}

{% block content %}
<!--end of sldier section-->
<section class="main__middle__container">
  <div class="container">
    <div class="row">
      
		{{ flatpage.content }}
	  
      <p class="text-center big-paragraph">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
    <hr>
    <div class="row text-center three-blocks">
      <div class="col-md-4"> <img src="{% static 'images/pic1.jpg' %}" alt="image" class="img-rounded img-responsive">
        <h3>IDENTITY</h3>
        <hr>
        <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo. Nulla eu erat id massa egestas eleifend. Sed id venenatis.</p>
        <p><a class="btn btn-lg btn-primary" href="http://www.htmlpreviews.com/cloud/beauty-salon/eterations3/index.html#" role="button">Learn more</a></p>
      </div>
      <div class="col-md-4"> <img src="{% static 'images/pic2.jpg' %}" alt="image" class="img-rounded img-responsive">
        <h3>WEB DESIGN</h3>
        <hr>
        <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo. Nulla eu erat id massa egestas eleifend. Sed id venenatis.</p>
        <p><a class="btn btn-lg btn-primary" href="http://www.htmlpreviews.com/cloud/beauty-salon/eterations3/index.html#" role="button">Learn more</a></p>
      </div>
      <div class="col-md-4"> <img src="{% static 'images/pic3.jpg' %}" alt="image" class="img-rounded img-responsive">
        <h3>PHOTOS</h3>
        <hr>
        <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo. Nulla eu erat id massa egestas eleifend. Sed id venenatis.</p>
        <p><a class="btn btn-lg btn-primary" href="http://www.htmlpreviews.com/cloud/beauty-salon/eterations3/index.html#" role="button">Learn more</a></p>
      </div>
    </div>
    <hr>
    <hr>
    <div class="row service-icons">
      <div class="col-md-6"> <img src="{% static 'images/icons/ico1.png' %}" alt="icon" class="img-circle img-responsive">
        <div class="col-md-10">
          <h3>Donec nec justo eget felis facilisis fermentum. </h3>
          <p class="orange">Phasellus ultrices nulla quis nibh. Quisque a lectus. </p>
        </div>
        <div class="clearfix"></div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <p><a class="btn btn-info btn-lg" href="http://www.htmlpreviews.com/cloud/beauty-salon/eterations3/index.html#" role="button">Learn more</a></p>
      </div>
      <div class="col-md-6"> <img src="{% static 'images/icons/ico2.png' %}" alt="icon" class="img-circle img-responsive">
        <div class="col-md-10">
          <h3>Donec nec justo eget felis facilisis fermentum. </h3>
          <p class="orange">Phasellus ultrices nulla quis nibh. Quisque a lectus. </p>
        </div>
        <div class="clearfix"></div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        <p><a class="btn btn-info btn-lg" href="http://www.htmlpreviews.com/cloud/beauty-salon/eterations3/index.html#" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
  <div class="row grey-info-block text-center">
    <div class="container">
      <h2 class="">Pellentesque egestas sem suspendisse commodo ullamcorper ...</h2>
      <p class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
        voluptatem sequi nesciunt.</p>
      <p><a class="btn btn-info" href="#" role="button">Заказать услугу</a><a class="btn btn-default" href="#" role="button">Подробнее</a></p>
    </div>
  </div>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
	<script type="text/javascript">
		$('.carousel').carousel({
		  interval: 3500, // in milliseconds
		  pause: 'none' // set to 'true' to pause slider on mouse hover
		})
	</script>
{% endblock %}