{% extends "base.html" %}
{% load static %}
{% block title %}
	{{ flatpage.title }}
{% endblock %}

{% block libs %}
	<link rel="stylesheet" href="./static/css/galery/magnific-popup.css">
	{{ block.super }}
{% endblock %}

{% block menu %}
<!-- Collect the nav links, forms, and other content for toggling 
second_item third_item forth_item five_item six_item-->
      <div class="navbar-right navbar-collapse in" id="bs-example-navbar-collapse-1" style="height: auto;">
        <ul class="nav navbar-nav">
          <li><a href="{{ first_item }}">главная</a></li>
          <li class="dropdown"> <a href="{{ second_item }}" class="dropdown-toggle" data-toggle="dropdown">Статьи</a>
            <ul class="dropdown-menu">
              <li><a href="#">статья 1</a></li>
              <li><a href="#">статья 2</a></li>
            </ul>
          </li>
		  <li class="active"><a href="{{ third_item }}">фото</a></li>
          <li><a href="{{ forth_item }}">цены</a></li>
          <li><a href="{{ five_item }} ">контакты</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<section class="main__middle__container">
  <div class="container recent-posts">
    <h2 class="text-center"><span>Фото</span></h2>
  </div>
  <div class="container">
    <div id="portfolio" class="row no_padding title__block nothing no-margin">
      <ul class="list-unstyled controls">
        <li class="filter active" data-filter="all">Show All</li>
        <li class="filter" data-filter="webdesign">Web Design</li>
        <li class="filter" data-filter="printing">Printing</li>
        <li class="filter" data-filter="development">We Development</li>
        <li class="filter" data-filter="seo">SEO Optimization</li>
      </ul>
	 
	  <!--<ul id="Grid" class="gallery">
        <li class="mix webdesign col-sm-4 mix_all" style="display: block; opacity: 1;">
			<a href="./media/photo/gallery1.jpg">
				<img alt="" src="./media/photo/gallery1.jpg" class="img-responsive"> 
				<span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span>
			</a> 
		</li>-->
		
		{% for foto in fotos %}
			<li class="mix webdesign col-sm-4 mix_all" style="display: block; opacity: 1;">
				<a href="{{  foto.image_location.url }}">
					<img alt="" src="{{  foto.image_location.url }}" class="img-responsive">
					<span class="text">{{ foto.comment1 }}<span>{{ foto.comment2 }}</span></span>
				</a>
			</li>
		{% endfor %}
		<!--
        <li class="mix printing col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery2.jpg"><img alt="" src="./media/photo/gallery2.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix development col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery3.jpg"><img alt="" src="./media/photo/gallery3.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix seo col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery4.jpg"><img alt="" src="./media/photo/gallery4.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix seo col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery5.jpg"><img alt="" src="./media/photo/gallery5.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix development col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery6.jpg"><img alt="" src="./media/photo/gallery6.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix printing col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery7.jpg"><img alt="" src="./media/photo/gallery7.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix development col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery8.jpg"><img alt="" src="./media/photo/gallery8.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix printing col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery9.jpg"><img alt="" src="./media/photo/gallery9.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix webdesign col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery10.jpg"><img alt="" src="./media/photo/gallery10.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix seo col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery11.jpg"><img alt="" src="./media/photo/gallery11.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
        <li class="mix webdesign col-sm-4 mix_all" style="display: block; opacity: 1;"> <a href="./media/photo/gallery12.jpg"><img alt="" src="./media/photo/gallery12.jpg" class="img-responsive"> <span class="text">Nulla quis lectus eget<span>Lorem ipsum dolor sit amet, consectetuer.</span></span></a> </li>
      </ul>-->

    </div>
    <h2>Portfolio Text</h2>
    <hr>
    <div class="one_third">
      <h4>1/3</h4>
      <p>Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum vitae felis</p>
    </div>
    <div class="one_third">
      <h4>1/3</h4>
      <p>Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum vitae felis</p>
    </div>
    <div class="one_third column-last">
      <h4>1/3</h4>
      <p>Donec metus leo, elementum at ultrices ac, dapibus at justo. Donec tristique hendrerit dui vitae lacinia. Suspendisse ante ligula, adipiscing porta aliquam et, rutrum nec lectus. Nulla erat risus, molestie non dapibus ac, fermentum vitae felis</p>
    </div>
    <div class="dc_clear"></div>
    <br>
    <br>
    <br>
  </div>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
	<script src="{% static 'js/jquery/jquery.mixitup.min.js' %}"></script> 
	<script src="{% static 'js/jquery/jquery.magnific-popup.js' %}"></script> 

	<script type="text/javascript">
		$(document).ready(function () {
			// Start work gallery
			$('#Grid').mixitup();
			});
			$('.gallery').each(function() { // the containers for all your galleries
				$(this).magnificPopup({
					delegate: 'a', // the selector for gallery item
					type: 'image',
					gallery: {
					  enabled:true
					}
				});
			});
		</script>
{% endblock %}